@CHARSET "UTF-8";
html,body,#wrap
{
	height:100%;
}
body>#wrap
{
	height:auto;
	min-height:100%;
}
#main
{
	padding-bottom:70px;
}
div.head
{
	background-image:url(managerHead.jpg);
	height:100px;
	width:1270px;
}
div.logo
{
	height:100px;
	width:126px;
	float:left;
}
	div.eating
 	{
 		background-image:url("F:\test2.jpg");
 		width:100px;
 		height:100px;
 	}

.welcome h1
{
	color:#CC0033;
	font-size:32px;
	font-family:Kristen ITC,华文行楷;
	display : inline
}
.welcome h2
{
	color:#3300FF ;
	font-size:32px;
	font-family:Kristen ITC,华文行楷;
	display : inline
}

div.ifLogin
{
	font-color:#000000;
	font-size:10px;
	float:right;
	margin-right:50px;
	padding-top:0px;
	
	

}

div.ifLoginN
{
	font-color:#FFCCCC;
	size:30px;
	float:right;
	margin-right:100px;
	padding-top:50px;

}

div.welcome
{
	margin-left:150px;
	float:left;
	
}
div.block3
{
	color:#0066CC;
	margin-left:30px;
	margin-top:50px;
	font-size:30px;
	width:920px;
	height:600px;
	float:left;
}
div.block4
{
	font-size:20px;	
	color:#6699FF;
	margin-left:0px;
	margin-top:30px;
	width:300px;
 	height:auto;
 	float:left;
 	padding-left:0px;
}
div.block5
{
	float:left;
}
.block4 a
{
	color:#0066FF;
}
.head a
{
	color:#FFFF00;
	font-family:华文行楷;
	font-size:30px;
}
.ifLogin a:link,a.visited
{
	color:#330000;
}
.ifLogin a:hover
{
	color:#000000;
}
div.courseMenu
{
	float:left;
	font-family:宋体;
	font-size:20px;
}
#foot
{
	position:relative;
	height:70px;
	width:1270px;
	clear:both;
	margin-top:90px;
	background:#6699FF;
	float:bottom;
}
