@CHARSET "UTF-8";
html,body,#wrap
{
	height:70%;
}
body>#wrap
{
	height:auto;
	min-height:70%;
}
#wrap
{
	background-image:url(adminbg.jpg);
}
#main
{
	padding-bottom:70px;
}
div.head
{
	background-image:url(administratorHead.jpg);
	height:100px;
	width:1270px;
}
div.logo
{
	height:100px;
	width:126px;
	float:left;
}

.welcome h1
{
	color:#CC0033;
	font-size:32px;
	font-family:Kristen ITC,华文行楷;
	display : inline
}
.welcome h2
{
	color:#FFFF00  ;
	font-size:32px;
	font-family:Kristen ITC,华文行楷;
	display : inline
}

div.ifLogin
{
	font-color:#FFCCCC;
	size:30px;
	float:right;
	margin-right:100px;
	padding-top:50px;

}
div.welcome
{
	margin-left:150px;
	float:left;
	
}
div.block3
{
	color:#0066CC;
	margin-left:30px;
	margin-top:50px;
	font-size:30px;
	width:920px;
	height:450px;
	float:left;
}
div.block4
{
	font-size:20px;	
	color:#6699FF;
	margin-left:10px;
	margin-top:50px;
	width:300px;
 	height:auto;
 	float:left;
 	padding-left:0px;
}
#navlist
{
	color:white;
	background:#17a;
	border-bottom:0.2em solid #17a;
	padding:0 1px;
	margin-left:0;
	width:12em;
	font:normal 0.8em Verdana, sans-serif;
}

#navlist li
{
	list-style:none;
	margin:0;
	font-size:1em;
	margin-top:15px;
}
#navlist a
{
	width:99%;
	display:block;
	color:#0033CC;
	text-decoration:none;
	margin-bottom:0.5em;
	background:#39c;
	border-width:1px;
	border-style:solid;
	border-color:#5bd #035 #068 #6cf;
	border-left:1em solid #fc0;
	padding:0.25em 0.5em 0.4em 0.75em;
}
div.block5
{
	float:left;
}
.block4 a
{
	color:#0066FF;
}
.head a
{
	color:#FFFF00;
	font-family:华文行楷;
	font-size:30px;
}
.ifLogin a:link,a.visited
{
	color:#330000;
}
.ifLogin a:hover
{
	color:#33CCCC;
}
div.courseMenu
{
	float:left;
	font-family:宋体;
	font-size:20px;
}
#foot
{
	position:relative;
	height:70px;
	width:1270px;
	clear:both;
	margin-top:-70px;
	background:#6666FF;
	float:bottom;
}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;} 

.clearfix {display: inline-block;} 


