@CHARSET "UTF-8" ;
div.restName
{
	margin-left:50px;
	float:left;
}
.restName h1
{
	color:#FF0066;
	font-size:50px;
	font-family:华文行楷;
	display : inline
}

div.desc
{
	margin-left:70px;
	margin-top:15px;
	margin-bottom:15px;
	float:left;
}
.desc h3
{
	color:#FFCC00;
	font-size:20px;
	font-family:楷体;
	display : inline
}

div.restBar
{
	margin-top:50px;
	float:left;
}